body { background: #1C5A00 url('../img/slideshow/led_lighting_green.jpg') no-repeat center; background-size: cover; }

#tridon-header { background: #007300; height: 145px; border-bottom: 5px solid #FFED00; color: white; }
#header-content { margin: 0 auto; max-width: 960px; }
#tridon-header a { color: white; }
#tridon-logo { margin-top: 15px; }

#brands { padding: 0 20px 30px 20px; }
h1.brands-title { font-size: 17px; }
#main-content {  }
.content-block { background: #FFFFFF; margin: 20px auto 20px auto; max-width: 960px; padding: 15px 35px; text-align: left; }

.content-block p { font-size: 1.5em; margin: 15px 0 25px 0; }
img.social { width: 32px; height: 32px; }
p strong { color: #007300 }